## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - 1.0
notifications:
  email: false
git:
  depth: 99999999
# uncomment the following lines to allow failures on nightly julia
# (tests will run but not make your overall status red)
#matrix:
allow_failures:
 - julia: 1.0

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

## uncomment the following lines to override the default test script
#script:
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("NCDatasets"); Pkg.test("NCDatasets"; coverage=true)'
after_success:
  # push coverage results to Coveralls
  - julia -e 'VERSION >= v"0.7.0" && using Pkg; cd(Pkg.dir("NCDatasets")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'VERSION >= v"0.7.0" && using Pkg; cd(Pkg.dir("NCDatasets")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
  # push documentation to the github pages
  - julia -e 'VERSION >= v"0.7.0" && using Pkg; Pkg.add("Documenter")'
  - julia -e 'VERSION >= v"0.7.0" && using Pkg; cd(Pkg.dir("NCDatasets")); include(joinpath("docs", "make.jl"))'