language: julia

os:
  - osx
  - linux

julia:
  - 1.0
  - 1.4
  - 1.5
  - nightly

matrix:
  allow_failures:
  - julia: nightly
  - julia: 1.5

notifications:
  email: false

#script: # the default script is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia --project -e 'using Pkg; Pkg.build(); Pkg.test(; coverage=true)';

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())';

jobs:
  allow_failures:
    - julia: nightly

  include:
    - stage: "Documentation"
      julia: 1.4
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate();
                                    Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs/ -e 'using Pkg; Pkg.build()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
